
@font-face {
    font-family: 'Graphik-regular';
    src: url('./assets/fonts/Graphik\ Kinopoisk\ LC-Regular.otf') format('truetype');

}

@font-face {
    font-family: 'Graphik-medium';
    src: url('./assets/fonts/Graphik\ Kinopoisk\ LC-Regular.otf') format('truetype');
    
}